<%- include("partials/header") -%>



    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="heading-section mb-5 pb-md-4">Product Brands</h2>
                </div>
                <div class="col-md-12">
                    <div class="featured-carousel owl-carousel">
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-1.jpg);">
                                    <a href="#" class="icon d-flex align-items-center justify-content-center">
                                        <span class="ion-ios-search"></span>
                                    </a>
                                </div>
                                <div class="text pt-3 w-100 text-center">
                                    <h3><a href="#">Axe</a></h3>
                                    <span>Web Design</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-2.jpg);">
                                    <a href="#" class="icon d-flex align-items-center justify-content-center">
                                        <span class="ion-ios-search"></span>
                                    </a>
                                </div>
                                <div class="text pt-3 w-100 text-center">
                                    <h3><a href="#">Work 02</a></h3>
                                    <span>Web Design</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-3.jpg);">
                                    <a href="#" class="icon d-flex align-items-center justify-content-center">
                                        <span class="ion-ios-search"></span>
                                    </a>
                                </div>
                                <div class="text pt-3 w-100 text-center">
                                    <h3><a href="#">Work 03</a></h3>
                                    <span>Web Design</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-4.jpg);">
                                    <a href="#" class="icon d-flex align-items-center justify-content-center">
                                        <span class="ion-ios-search"></span>
                                    </a>
                                </div>
                                <div class="text pt-3 w-100 text-center">
                                    <h3><a href="#">Work 04</a></h3>
                                    <span>Web Design</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-5.jpg);">
                                    <a href="#" class="icon d-flex align-items-center justify-content-center">
                                        <span class="ion-ios-search"></span>
                                    </a>
                                </div>
                                <div class="text pt-3 w-100 text-center">
                                    <h3><a href="#">Work 05</a></h3>
                                    <span>Web Design</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-6.jpg);">
                                    <a href="#" class="icon d-flex align-items-center justify-content-center">
                                        <span class="ion-ios-search"></span>
                                    </a>
                                </div>
                                <div class="text pt-3 w-100 text-center">
                                    <h3><a href="#">Work 06</a></h3>
                                    <span>Web Design</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <br>
    <br>
    <br>

    <!--collection-->

    <section class="bg-light py-4">
        <div class="container-fluid">
            <!--title-->
            <div class="row  text-center">
                <div class="col m-4">
                    <h1 class="display-4 mb-4">Collection</h1>
                    <div class=" underline mb-4 ">


                    </div>
                    <p class="lead ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A nisi, omnis laborum rerum sit esse fugit ratione, ab voluptatem ducimus totam aliquid dolores accusantium. Eligendi distinctio illo aut nostrum molestiae?</p>
                </div>
            </div>
            <!--end of title-->
            <div class="row ">
                <div class="col-lg-4 col-sm-6 my-5 ">
                    <div class="card card-shadow border-0 ">
                        <img src="images/shampoo.jfif " alt=" " class="card-img " style="height: 50%; ">
                        <div class="card-img-overlay ">
                            <h5 class="text-white text-uppercase font-weight-bold p-2 heading ">Shampoo</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 my-5 ">
                    <div class="card card-shadow border-0 ">
                        <img src="images/teeth.jpg " alt=" " class="card-img ">
                        <div class="card-img-overlay ">
                            <h5 class="text-white text-uppercase font-weight-bold p-2 heading ">Wedding Photography</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 my-5 ">
                    <div class="card card-shadow border-0 ">
                        <img src="images/deodorant.Jpeg " alt=" " class="card-img ">
                        <div class="card-img-overlay ">
                            <h5 class="text-white text-uppercase font-weight-bold p-2 heading ">Party Photography</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 my-5 ">
                    <div class="card card-shadow border-0 ">
                        <img src="images/bodycare.jpg " alt=" " class="card-img ">
                        <div class="card-img-overlay ">
                            <h5 class="text-white text-uppercase font-weight-bold p-2 heading ">Business Photography</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 my-5 ">
                    <div class="card card-shadow border-0 ">
                        <img src="images/fashion.jpeg " alt=" " class="card-img ">
                        <div class="card-img-overlay ">
                            <h5 class="text-white text-uppercase font-weight-bold p-2 heading ">Fashion Photography</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 my-5 ">
                    <div class="card card-shadow border-0 ">
                        <img src="images/family.jpeg " alt=" " class="card-img ">
                        <div class="card-img-overlay ">
                            <h5 class="text-white text-uppercase font-weight-bold p-2 heading ">Family Photography</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--end of collection-->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <%- include("partials/footer") -%>