<%- include("partials/header") -%>




    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">

            </div>
            <div class="col col-lg-4">
                <div class="row">
                    <div>
                        <div class="progress bg-secondary mb-3">
                            <div class="progress-bar bg-warning" style="width: 50%;">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row pb-5">
                    <div class="col-3">
                        Sign in
                    </div>
                    <div class="col-3">
                        Shipping
                    </div>
                    <div class="col-3">
                        Payment
                    </div>
                    <div class="col-3">
                        Place order
                    </div>
                </div>
                <div class="row text-center py-5 text-light">
                    <div class="col-2">

                    </div>
                    <div class="text-center">
                        <form action="cart" method="POST">
                            <div style="margin: 0 auto; float: none; margin-bottom: 10px;" class="card  text-white text-center bg-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header">Payment</div>
                                <div class="card-body">
                                    <div class="form-check text-start  py-3">
                                        <input type="checkbox" class="form-check-input" onclick=" return termsChanged(this)" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Cash on Delivery</label>
                                    </div>
                                    <div>
                                        <button disabled type="submit" id="nextSumit" class="btn btn-warning">Next</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>

    <script>
        function termsChanged(termsCheckBox) {
            if (termsCheckBox.checked) {
                document.getElementById("nextSumit").disabled = false;
            } else {
                document.getElementById("nextSumit").disabled = true;
            }
        }
    </script>

    <%- include("partials/footer") -%>