<%- include("partials/header") -%>


<!--collection-->

    <section class="bg-light py-4">
        <div class="container-fluid">
            <!--title-->
            <div class="row  text-center">
                <div class="col m-4">

                    <label for="exampleDataList" class="form-label fw-bold display-5">Search Product</label>
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                    <datalist id="datalistOptions">
                      <option value="San Francisco">
                      <option value="New York">
                      <option value="Seattle">
                      <option value="Los Angeles">
                      <option value="Chicago">
                    </datalist>
                    <div class=" underline mb-4 ">


                    </div>
                    <p class="lead ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A nisi, omnis laborum rerum sit esse fugit ratione, ab voluptatem ducimus totam aliquid dolores accusantium. Eligendi distinctio illo aut nostrum molestiae?</p>
                </div>

            </div>
            <!--end of title-->

            <div class="row ">
                <div class="col-lg-3 col-md-4 col-sm-6 my-2 ">
                    <div class="card card-shadow border-0 ">
                        <img src="images/shampoo.jfif" alt=" " class="card-img">
                        <div class="card-body">
                            <h3 class="card-title text-uppercase fw-bold p-2 headings "> <span class="text-start ">Shampoo</span>  <span class="text-danger float-end">30$</span></h3>
                            <div class="d-grid">
                             <a href="#" class="btn bs" style="background-color:#ffc917">Click for Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 my-2 ">
                    <div class="card card-shadow border-0 ">
                        <img src="images/deodorant.Jpeg" alt=" " class="card-img">
                        <div class="card-body">
                            <h3 class="card-title text-uppercase fw-bold p-2 headings "> <span class="text-start ">Shampoo</span>  <span class="text-danger float-end">30$</span></h3>
                            <div class="d-grid">
                             <a href="#" class="btn bs" style="background-color:#ffc917">Click for Details</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 my-2 ">
                    <div class="card card-shadow border-0 ">
                        <img src="images/deodorant.Jpeg" alt=" " class="card-img">
                        <div class="card-body">
                            <h3 class="card-title text-uppercase fw-bold p-2 headings "> <span class="text-start ">Shampoo</span>  <span class="text-danger float-end">30$</span></h3>
                            <div class="d-grid">
                             <a href="#" class="btn bs" style="background-color:#ffc917">Click for Details</a>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="col-lg-3 col-md-4 col-sm-6 my-2 ">
                    <div class="card card-shadow border-0 ">
                        <img src="images/deodorant.Jpeg" alt=" " class="card-img">
                        <div class="card-body">
                            <h3 class="card-title text-uppercase fw-bold p-2 headings "> <span class="text-start ">Shampoo</span>  <span class="text-danger float-end">30$</span></h3>
                            <div class="d-grid">
                             <a href="#" class="btn bs" style="background-color:#ffc917">Click for Details</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 my-2 ">
                    <div class="card card-shadow border-0 ">
                        <img src="images/deodorant.Jpeg" alt=" " class="card-img">
                        <div class="card-body">
                            <h3 class="card-title text-uppercase fw-bold p-2 headings "> <span class="text-start ">Shampoo</span>  <span class="text-danger float-end">30$</span></h3>
                            <div class="d-grid">
                             <a href="#" class="btn bs" style="background-color:#ffc917">Click for Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 my-2 ">
                    <div class="card card-shadow border-0 ">
                        <img src="images/teeth.jpg" alt=" " class="card-img">
                        <div class="card-body">
                            <h3 class="card-title text-uppercase fw-bold p-2 headings "> <span class="text-start ">Toothpaste</span>  <span class="text-danger float-end">30$</span></h3>
                            <div class="d-grid">
                             <a href="#" class="btn bs" style="background-color:#ffc917">Click for Details</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!--end of collection-->










<%- include("partials/footer") -%>