<%- include("partials/header") -%>




    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-lg-4">

            </div>
            <div class="col col-lg-4">
                <div class="row">
                    <div class="py-3">
                        <div class="progress bg-secondary mb-3">
                            <div class="progress-bar bg-warning" style="width: 25%;">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row pb-5">
                    <div class="col-3">
                        Sign in
                    </div>
                    <div class="col-3">
                        Shipping
                    </div>
                    <div class="col-3">
                        Payment
                    </div>
                    <div class="col-3">
                        Place order
                    </div>
                </div>
                <div class="row text-center py-5 text-light">
                    <div class="col-1">

                    </div>
                    <div class="col-10 bg-dark text-start" style="height: 28rem;">
                        <form action="/payment" method="POST">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="py-3">Full Address</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" name="address" aria-describedby="emailHelp" placeholder="Village, street, and building">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="py-3">City</label>
                                <input type="text" class="form-control" name="city" id="exampleInputPassword1" placeholder="Enter your city" value=<%=req.user.address.city%>>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="py-3">Phone Number</label>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">+961</label>
                                    </div>
                                    <input type="text" class="form-control" name="number" id="exampleInputPassword1" value=<%=req.user.address.tel%>>
                                </div>
                            </div>
                            <div class="text-center py-3">
                                <button type="submit" class="btn btn-primary text-center">Next</button>

                            </div>
                        </form>

                    </div>

                    <div class="col-1"></div>
                </div>
            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>

    <%- include("partials/footer") -%>