body {
    font-family: 'Montserrat', sans-serif !important;
}


/* Header */

.navbar-nav>.active>a {
    color: #318fb5;
}

.nav-item>a:hover {
    color: #318fb5;
}


/* Navbar */

.line1,
.line2,
.line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-button:focus {
    border-radius: none !important;
}

.menu-item {
    font-size: 16px;
    letter-spacing: 1px;
    color: #eee;
    font-weight: lighter;
    transition: color .5s;
}


/* .menu-item:hover {
    color: #aee6e6;
}

.menu-item:hover {
    color: #318fb5;
}

.nav-active {
    color: #318fb5;
} */


/* End of Nav */

.contact-form {
    background: black;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.signup {
    min-width: 100px !important;
}

.signup:hover {
    color: #318fb5 !important;
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.badge {
    padding-left: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

#lblCartCount {
    font-size: 12px;
    background: #dc3545;
    color: #fff;
    padding: 1px 4px;
    vertical-align: top;
    margin-left: -10px;
    border-radius: 50%;
}


/*footer*/

.footer-link {
    color: #eee;
    font-size: 13px;
    transition: all .3s;
    text-decoration: none;
}

.footer-link:hover {
    color: #70aed2;
    text-decoration: none;
}


/*end of footer*/


/*Collection*/

.card-shadow {
    box-shadow: 5px 8px 20px #444;
}

.submit-google {
    background: #db4437 !important;
    color: #eee;
    transition: all.3s;
}

.submit-google:hover {
    background: #fc321f !important;
    transform: translateY(-3px);
}

.heading {
    position: absolute;
    top: 70%;
    right: 0;
    font-size: 14px;
    letter-spacing: 1px;
    background: #222;
    width: 70%;
    cursor: pointer;
    opacity: .7;
    transition: all .5s;
}

.heading:hover {
    opacity: 1;
}


/* Header */


/* /footer/ */

.footer-link {
    color: #eee;
    font-size: 13px;
    transition: all .3s;
    text-decoration: none;
}

.footer-link:hover {
    color: #318fb5;
    text-decoration: none;
}


/* /end of footer/ */


/*background brand*/

.background-brand {
    background-image: url("../images/Johnson.jpg");
}

.brand-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.nav-linkk:hover {
    background-color: #f7f7f7 !important;
}

.nav-linkk {
    background: none!important;
    border: none;
    width: 200px;
    text-align: left;
}

.scroll {
    margin: 4px, 4px;
    padding: 4px;
    width: 500px;
    height: 45rem;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.active {
    color: rgb(73, 134, 170)
}